/**body {
    background-color: #333333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
	border: 1px solid black;
p {
    position: absolute;
    z-index: 99;
    color: #cccccc;
    margin: 2px;
    padding: 0;
    font-family: Arial;
    font-size: 10px;
}
a { 
		color: #f4f4f4;
		font-weight: bold;
}**/
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 200px;
    height: 200px;
    perspective: 700px;
    margin: 70px auto;
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(30deg);
}
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(30,67,125,.5);
}
.side--front {
    transform: rotateY(0) translateZ(100px);
    background-color: #0e76a8;
}
.side--left {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: #128ec9;
}
.side--top {
    transform: rotateX(90deg) translateZ(100px);
    background-color: #0b5d85;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 100%;
    font-family: Impact, sans-serif;
    font-size: 40px;
    transition: .5s;
    transform-origin: left;
    text-align: left;
    padding-left: 20px;
}
button:hover {
    padding-left: 210px;
}
.shape {
    width: 400px;
    height: 500px;
    position: absolute;
    left: -300px;
    top: -80px;
    background-color: black;
    z-index: -10;
    transition: 1s;
    animation: float 10s infinite;
  
    clip-path: polygon(49% 25%, 45% 26%, 40% 29%, 39% 36%, 38% 46%, 40% 50%, 43% 53%, 47% 54%, 53% 54%, 62% 52%, 65% 43%, 68% 35%, 65% 25%, 58% 24%, 54% 23%);
}
button:nth-child(1):hover ~ .shape {
    clip-path:  polygon(51% 27%, 43% 28%, 34% 35%, 30% 45%, 30% 51%, 30% 56%, 32% 62%, 36% 67%, 41% 69%, 49% 70%, 59% 70%, 62% 65%, 60% 58%, 55% 53%, 57% 46%, 60% 39%, 63% 33%, 58% 29%, 55% 27%, 51% 27%);
}
button:nth-child(2):hover ~ .shape {
    clip-path:  polygon(51% 27%, 43% 28%, 34% 35%, 30% 45%, 30% 51%, 30% 56%, 32% 62%, 36% 67%, 41% 69%, 49% 70%, 59% 70%, 62% 65%, 60% 58%, 55% 53%, 57% 46%, 60% 39%, 63% 33%, 58% 29%, 55% 27%, 51% 27%);
}
button:nth-child(3):hover ~ .shape {
    clip-path:  polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
button:nth-child(4):hover ~ .shape {
    clip-path:  polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
@keyframes float {
    0% {
        transform: translateY(0) rotateX(0);
    }
    50% {
        transform: translateY(-20px) rotateX(3deg);
    }
    100% {
        transform: translateY(0) rotateX(0);
    }
}


